:root {
  --bg_h: #1d2021;
  --bg:   #282828;
  --bg_s: #32302f;
  --bg1:  #3c3836;
  --bg2:  #504945;
  --bg3:  #665c54;
  --bg4:  #7c6f64;

  --fg:  #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red:    #fb4934;
  --green:  #b8bb26;
  --yellow: #fabd2f;
  --blue:   #83a598;
  --purple: #d3869b;
  --aqua:   #8ec07c;
  --gray:   #928374;
  --orange: #fe8019;

  --red-dim:    #cc2412;
  --green-dim:  #98971a;
  --yellow-dim: #d79921;
  --blue-dim:   #458588;
  --purple-dim: #b16286;
  --aqua-dim:   #689d6a;
  --gray-dim:   #a89984;
  --orange-dim: #d65d0e;
}

@keyframes fade {
  0% {
    transform: translate(-50%, -50%) scale(1.5, 1.5);
  }

  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-family: monospace;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button, input[type=submit] {
  border: none;
  background: none;
  padding: 10px;
  margin-right: 10px;
}

form {
  display: flex;
  width: 100%;
}

input[type=submit] {
  width: 32px;
  background-image: url("/images/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

input[type=submit]:hover {
  background: var(--bg2);
  background-image: url("/images/search.png");
  background-repeat: no-repeat;
  background-position: center;
}

button:hover {
  background: var(--bg2);
}

input {
  background-color: var(--bg2);
  border: none;
  color: var(--fg);
  font-size: 16px;
  width: 100%;
  margin-left: auto;
  margin-right: 10px;
  padding-left: 20px;
  font-family: monospace;
}

a:visited {
  text-decoration: none;
  color: var(--blue);
}

a {
  text-decoration: none;
  color: var(--blue-dim);
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  padding: 0;
}

aside a {
  color: var(--fg);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  transition: 300ms;
  font-size: 12px;
}

aside a:hover {
  background-color: var(--bg1);
  transition: 300ms;
}

aside {
  min-width: 160px;
  width: max-content;
  background-color: var(--bg2);
  height: 100%;
  overflow-y: scroll;
}

main {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.logo {
  image-rendering: pixelated;
  vertical-align: middle;
  height: 32px;
}

.logo-btn {
  padding: 2px;
}

.contents {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
  overflow-y: scroll;
}

.head {
  padding-left: 10px;
  background-color: var(--bg1);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.icon {
  image-rendering: pixelated;
  vertical-align: middle;
}

.message {
  line-height: 1.6;
  width: 100%;
  word-break: break-word;
}

.message a {
  color: var(--fg2);
}

.message a:visited {
  color: var(--fg2);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg2);
  padding: 10px;
}

.date-input-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -30px;
  opacity: 0;
}

.error-modal {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--red);
  padding: 20px;
  opacity: 1;
  transition: opacity 500ms;
  animation: ease 300ms fade;
}

.error-modal.closing {
  opacity: 0;
  transition: opacity 500ms;
}

.hidden {
  display: none !important;
}

.error {
  width: 100%;
  padding: 20px;
}

.log-date-control {
  display: flex;
}

#collapse {
  display: none;
  transform: rotate(180deg);
  transition: transform 200ms;
}

#collapse.collapsed {
  transform: rotate(0deg);
  transition: transform 200ms;
}

#input-date-button {
  position: relative;
}

#current-date {
  font-family: monospace;
  margin-right: 10px;
}


@media (max-width: 800px) {
  #collapse {
    display: unset;
  }
}